<footer class="footer" style="padding: 20px 0px 0px 0px;">
	<div class="container-fluid">
		<h3 class="text-center">Contact</h3>
		<p class="text-center">Send us email at <a href="mailto:team@convergeconf.org" class="text-danger">team@convergeconf.org</a> or contact @convergeconf over twitter</p>
		<div class="row">
			<div class="col-md-6">
				Copyright © 2017 ConvergeConf
			</div>
			<div class="col-md-6 text-right">
				<ul class="footer-social-icons">
					<li>
            <a href="https://www.facebook.com/ConvergeConf-126497478027448"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          </li>
				</ul>
			</div>
		</div>
	</div>
</footer>