
html,
body {
  position: relative;
  min-height: 100%;
  font-weight: 300;
  background-color: #f1f6fd;
  color: #333;
}
p{
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.7);
    font-weight: 200;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active{
  color: rgb(255,255,255);
  font-weight: 300;
}
.navbar-dark{
  background-color: transparent;
  position: absolute;
  width: 100%;
}
.navbar-toggler{
  border: none;
}
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #222;
    z-index: 999;
  }
}
/* ================================================================================================ */
/* Hero Unit */
/* ================================================================================================ */
.hero-unit {
  background-size: cover;
}
.text-container{
  color: #fff;
}
.text-container h1 {
  font-size: 4em;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .text-container h1 {
    font-size: 2em;
  }
  .text-container p {
    font-size: 1em;
  }
}
/* ================================================================================================ */
/* Buttons */
/* ================================================================================================ */
.btn{
  padding: 8px 20px;
}
/* ================================================================================================ */
/* Grids */
/* ================================================================================================ */
.about-section{
   padding: 60px 0px;
   background-color: #212121;
   color: #BDBDBD;
}
.social-icons-container{
  position: fixed;
  top: 200px;
  right: 0px;
  padding: 10px 10px 0px 10px;
  width: auto;
  color: #fff;
  font-size: 28px;
  background-color: #dc3545;
  border-radius: 2px;
}
.social-icons-container ul{
  padding: 0px;
  margin-bottom: 0px;
}
.social-icons-container li{
  margin-bottom: 10px;
}
.social-icons-container li a{
  color: #fff;
}
@media (max-width: 768px) {
  .social-icons-container{
    position: relative;
    display: block;
    color: #fff;
    font-size: 28px;
    text-align: center;
    height: auto;
    align-self: end;
    width: 100%;
    top: 0;
    right: 0;
    margin-top: 20px;
    background-color: transparent;
  }
  .social-icons-container ul{
    padding: 0px;
    margin: 0px;
  }
  .social-icons-container ul li{
    display: inline-block;
    padding: 5px 20px;
  }
}
.section{
  padding: 60px 0px;
}
.collapse-links{
  color: #555;
}
.collapse-links:hover, .collapse-links:active, .collapse-links:focus{
  color: #000;
  text-decoration: none;
}
/* ================================================================================================ */
/* Footer */
/* ================================================================================================ */
.footer{
  background-color: #212121;
  padding: 20px 0px;
  color: #fff;
}
.footer-social-icons{
  list-style: none;
}
.footer-social-icons li{
  display: inline-block;
  padding: 0px 10px;
}
.footer-social-icons li a{
  color: #fff;
}
.footer-social-icons li a i{
  font-size: 1.2em;
}



.speaker-card{
  margin-bottom: 20px;
}

